$small: 300px;
$medium: 900px;

.full-width {
  width: 100% !important;
}

.img-gallary {

    width: 100%;
  @media screen and(max-width: $small) {
    width: 100%;
    height: 220px;
  }

  @media screen and(min-width: $medium) {
    width: 100%;
    height: 420px;
  }


}
